atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
colorama==0.4.1
cycler==0.10.0
entrypoints==0.3
flake8==3.7.8
importlib-metadata==0.21
kiwisolver==1.1.0
matplotlib==3.1.1
mccabe==0.6.1
more-itertools==7.2.0
numpy==1.17.2
packaging==19.1
pluggy==0.13.0
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pytest==5.1.2
python-dateutil==2.8.0
six==1.12.0
wcwidth==0.1.7
wincertstore==0.2
zipp==0.6.0
